{% comment %} Comments Modal {% endcomment %}
<div class="modal" id="PostModal{{commentPost.id}}" tabindex="-1" role="dialog" aria-labelledby="PostModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-2 text-center">
          <img class="profile_image" src="/media/{{commentPost.user.profile.profile_picture}}"></img>
          <div>
              <span class="username">@{{commentPost.user.username}}</span>
            </div>
            <div>{{commentPost.user.first_name}} <span>{{commentPost.user.last_name}}</span>
            </div>
          </div>
          <div class="col-10">
            <div>
                {{commentPost.content}}
            </div>
            <div class="text-right align-self-end mt-4">
            <span class="emotion p-2 mr-1">{{commentPost.emotion}}</span>
            <span><button class="fas fa-volume-up fa-lg btn bg-transparent modalVolume" id="{{commentPost.content}}"></button></span>
            </div>
          </div>
          </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body{{commentPost.id}}">
      {% for comment in commentPost.comment_set.all %}
        <div class="row modalComments mt-2 mb-3">
            <div class="col-2 text-center">
            <img src="/media/{{comment.user.profile.profile_picture}}" height="40" width="40"></img>
            </div>
            <div>
             <div class="username">
             <a href="{% url "userProfile" username=post.user.username %}">@{{post.user.username}}</a>
            </div>
            {{comment.content}}</div>
        </div>
        {% empty %}
        <div class="text-center h4 font-weight-bold">No comments yet.</div>
        <div class="text-center">Start a conversation</div>
      {% endfor %}
      </div>
        <div class="form-group modal-footer">
            <input class="comment form-control ml-2 mr-1" type="text" id="floatingInput{{commentPost.id}}" placeholder="Enter comment..." value="" required></input>
            <button type="submit" class="btn btn-primary pl-1 pr-1" onclick="postComment({{commentPost.id}})"><i class="fas fa-check"></i></button>
        </div>
    </div>
  </div>
</div>