{% extends "website/base.html" %}
{% load static %}
{% block title %}Edit Profile{% endblock title %}
{% load socialaccount %}
{% block style %}
<style>


</style>
<link rel="stylesheet" type="text/css" href="{% static 'website/edit.css'%}" />
{% endblock style %}
{% block body %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show ml-5" role="alert">
    <strong>Alert</strong>{{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}


{% comment %} Main body {% endcomment %}
{% include 'website/sidepanel.html' %}
<div class="editprof">
    <div class="container shadow p-2">
        <div class="pt-2 text-center joinTag">Edit Profile</div>
        <hr style="background-color:white;">
        </hr>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row justify-content-center mb-3 mt-4 ">
                <div class="profpic">
                    <img class="border" src="/media/profile_pics/pic.jpg" alt="" id="pic">
                    <div>
                        <input type="file" id="file" name='{{ p_form.profile_picture }}'>
                        <label class="text-center" for="file" id="uploadbtn"> Choose Photo</label>
                    </div>
                    <div>
                        <h6 style="color: white;" class="mt-2 text-center">Profile Picture</h6>
                    </div>
                </div>
                
            </div>
            <div class="row justify-content-center">
                <div class="col-8 col-lg-4 form-group">
                    {{ form.first_name }}
                    <!-- <input type="text" class="form-control round_border" , placeholder="First name"> -->
                </div>
                <div class="col-8 col-lg-4 form-group">
                    {{ form.last_name }}
                    <!-- <input type="text" class="form-control round_border" , placeholder="Last name"> -->
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-8 form-group">
                    {{ form.username }}
                    <!-- <input type="text" class="form-control round_border" , placeholder="Username"> -->
                </div>
                <div class="col-lg-3 col-sm-5 col-8 form-group">
                    {{ p_form.birth_date }}
                    <!-- <input type='date' , class='form-control round_border' , placeholder='Birth date'> -->
                </div>
                <div class="col-lg-2 col-sm-3 col-8 form-group">
                    {{ p_form.gender }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-8 form-group align-items-center">
                    {{p_form.bio}}
                </div>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-outline-light round_border px-4">Save</button>
            </div>

    </div>
    </form>
    <script>
        const imgDiv = document.querySelector('.profpic');
        const img = document.querySelector('#pic');
        const file = document.querySelector('#file');
        const upload = document.querySelector('#uploadbtn');

        imgDiv.addEventListener('mouseenter', function(){
            upload.style.display = "block"
        });

        imgDiv.addEventListener('mouseleave', function(){
            upload.style.display = "none"
        });

        file.addEventListener('change', function(){
            const choosedfile = this.files[0];

            if(choosedfile){
                const reader = new FileReader();
                reader.addEventListener('load', function(){
                    img.setAttribute('src', reader.result);
                });
                reader.readAsDataURL(choosedfile);
                
            }
        });

    </script>
</div>
</div>

{% endblock body %}