{% extends "website/base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'website/home.css'%}" />
<link rel="stylesheet" type="text/css" href="{% static 'website/post.css'%}" />
<link rel="stylesheet" type="text/css" href="{% static 'website/postComments.css'%}" />
{% endblock style %} 
{% block body %}

{% comment %} Comments Modal {% endcomment %}
{% for commentPost in posts_list %}
  {% include "website/commentsModal.html" with post=commentPost %}
{% endfor %}

{% comment %} Add post popup {% endcomment %}
<div class="modal fade" id="postContent" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add a post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form method="post">
        {% csrf_token %}
            <div class="modal-body">
                {{post_form}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
       </form>
    </div>
  </div>
</div>

<div class="row justify-content-end">
 {% include 'website/sidepanel.html' %}

    <div class="right col-md-9 col-12 mt-4">
    <div class="row">
      <div class="col-9">
        {% for post in posts_list %}
          <div class="postContainer row my-2 mt-3">
          <div class="col-2 text-center">
          <div>
          <img src="/media/{{post.user.profile.profile_picture}}" class="profile_image"></img>
          </div>
          <div>
              <span class="username"><a href="{% url "userProfile" username=post.user.username %}">@{{post.user.username}}</a></span>
            </div>
            <div>
              {{post.user.first_name}} <span> {{post.user.last_name}}</span>
            </div>
          </div>
          <div class="col-9">
            <div>
              {{post.content}}
            </div>
            <div class="text-right align-self-end mt-5">
              <span><button class="far fa-heart fa-lg btn bg-transparent p-1" id="post-{{post.id}}" onclick="like({{post.id}});"></button></span>
              <span><button class="far fa-comment fa-lg btn bg-transparent p-1 mr-2" data-toggle="modal" data-target="#PostModal{{post.id}}"></button></span>
              <span class="emotion p-2 mr-1">{{post.emotion}}</span>
            <span><button class="fas fa-volume-up fa-lg btn bg-transparent" id="{{post.content}}"></button></span>
            </div>
          </div>
          </div>
        {% endfor %}
      </div>
      <div class="col-3 d-flex flex-column align-items-center">
      <i class="fas fa-search"></i>
        <input type="text" class="search mt-3 py-1 px-3" id="search" placeholder="Search">
      </div>
    </div>
    </div>
</div>
{% endblock body %}

{% block jquery %}
jQuery(document).on('click', ".fa-volume-up", function(){
    let speech = new SpeechSynthesisUtterance();
  speech.lang = "en";
  var $this = $(this);
  speech.text = $this.attr('id');
  window.speechSynthesis.speak(speech);
});

$(document).ready(function() {
  $(function(){
    {% comment %} $("#search").autocomplete({
      source: {{emotions}}
    }); {% endcomment %}
    {% for post in posts_list %}
      {% for liked in post.like_set.all %}
              {% if user.id == liked.user.id%}
                  $("#post-"+{{ post.id|stringformat:"i"}}).removeClass("far");
                  $("#post-"+{{ post.id|stringformat:"i"}}).addClass("fas");
              {% endif %}
      {% endfor %}
    {% endfor %}
  });
});
  function like(post_id) {
    if($('.far').is("#post-"+post_id.toString()+".far")){
       $("#post-"+post_id.toString()).removeClass("far").addClass("fas");
        $.ajax({
        type:'POST',
        url:'{% url "likePost" pk=12 %}'.replace(/12/, post_id.toString()),
        data:{
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            action: ''
        }
    });
    } else {
      $("#post-"+post_id.toString()).removeClass("fas").addClass("far");
       $.ajax({
        type:'POST',
        url:'{% url "unlikePost" pk=12 %}'.replace(/12/, post_id.toString()),
        data:{
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            action: ''
        }
    });
    }
  }

  function postComment(post_id){
    var comment = $('#floatingInput'+post_id.toString()).val();
    try{
       $.ajax({
        type: 'POST',
        url: '{% url "postComment" %}',
        data:{
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            action: '',
            comment: comment,
            post_id: post_id
        }
       });
       jQuery.noConflict();
       $("#PostModal"+post_id.toString()).modal('hide');
       $("#PostModal"+post_id.toString()).modal('show');
    } catch(e){
      console.log("errorrrrrr",e.message)
    }
  }

  $( document ).ready(function(){
    const btn = document.querySelector("#btn");
    const side = document.querySelector(".sidebar");
    side.classList.toggle("active");
  })

{% endblock jquery %}