{% extends "website/base.html" %}
{% load static %}
{% block title %}Register now!{% endblock title %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'website/register.css'%}" />
{% endblock style %} 
{% block body %}
    <div class="register">
        <div class="container shadow p-2">
            <div class="pt-2 text-center joinTag">Join Emotable Today.</div>
            <hr style="background-color:white;"></hr>
            <div class="row justify-content-center">
                <div class="col-8 d-flex justify-content-center">
                    <button type="button" class="btn btn-light google_button">
                        {% include 'website/googleIcon.html' %}
                        <span class="ml-2">SIGN IN WITH GOOGLE<span>
                    </button>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <h6 class="or m-2">or</h6>
            </div>
            <form method="post">
                        {% csrf_token %}
                        <div class="row justify-content-center">
                            <div class="col-4 form-group">
                                {{ form.first_name }}
                            </div>
                            <div class="col-4 form-group">
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-8 form-group align-items-center">
                                    {{ form.email }}
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-3 form-group">
                                {{ form.username }}
                            </div>
                            <div class="col-3 form-group">
                                {{ p_form.birth_date }}
                            </div>
                            <div class="col-2 form-group">
                                {{ p_form.gender }}
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-4 form-group">
                                {{ form.password1 }}
                            </div>
                            <div class="col-4 form-group">
                                {{ form.password2 }}
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-outline-light round_border px-4">Sign up</button>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-8">
                        {% if form.errors %}
                            {% for field in form%}
                                {% for error in field.errors %} 
                                    <div class="alert alert-dismissible fade show text-center" role="alert">
                                        • {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        </div>
                        </div>
                        </form>
                        <div class="row text-center justify-content-center">
                    <div class="col-8 haveAccount">
                        Already have an account?
                    </div>
                </div>
                <div class="row text-center justify-content-center">
                    <div class="col-8">
                    <a href="{% url 'welcome' %}" class="btn btn-outline-light round_border px-4 signin">Sign in</a>
                    </div>
                </div>
        </div>
    </div>
{% endblock body %}