{% extends "website/base.html" %}
{% load static %}
{% block title %}Welcome!{% endblock title %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'website/welcome.css'%}" />
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap" rel="stylesheet">
{% endblock style %} 
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="left col-lg-8">
                <div class="logo">
                </div>
                <div class="name d-flex justify-content-center">
                EMOTABLE.
                </div>
            </div>
            <div class="right col-lg-4">
                <div class="mt-5 text-center joinTag">Join Emotable Today.</div>
                <hr style="background-color:white;"></hr>
                <br>
                <div class="row justify-content-center">
                    <div class="col-8 d-flex justify-content-center">
                        <button type="button" class="btn btn-light google_button">
                            {% include 'website/googleIcon.html' %}
                            <span class="ml-2">SIGN IN WITH GOOGLE<span>
                        </button>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <h6 class="or m-3">or</h6>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8 d-flex justify-content-center text-center">
                        <form method="post">
                        {% csrf_token %}
                            <div class="form-group">
                                {{ form.username }}

                            </div>
                            <div class="form-group">
                                {{ form.password }}
                            </div>
                            <button type="submit" class="btn btn-outline-light round_border px-4">Sign in</button>
                        </form>
                    </div>
                </div>
                {% if form.non_field_errors %}
                <div class="alert alert-dismissible fade show text-center" role="alert">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}
                {% comment %} {% for error in form.errors %} {% endcomment %}
                {% if form.errors %}
                <div class="alert alert-dismissible fade show text-center" role="alert">
                    {{ form.errors }}
                </div>
                {% endif %}
                {% comment %} {% endfor %} {% endcomment %}
               <div class="row justify-content-center">
                    <div class="col-8 noAccount">
                        Don't have an account?
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8">
                    <a href="{% url 'register' %}" class="btn btn-outline-light round_border px-4 signup">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}