body{
    background-color: var(--base);
}

.row {
    max-width: 100vw;
}

.left {
    background-color: black;
    height: 100vh;
    position: sticky;
    z-index: 1;
    top: 0;
}

.welcome {
    color: white;
}

.right {
    /* min-height: 120vh; */
    padding-left: 2rem;
}

.search{
    background-color: var(--gray);
    width: 90%;
    color: white;
    border-radius: 20px;
}

img {
    border-radius: 50%;
    height: 1.75rem;
    width: 1.75rem;
}

.signOut {
    position: absolute; 
    bottom: 0;
    width: 100%;
}

.signOutText {
    color: white;
    font-weight: 500;
    padding: 0rem 1rem;
}

.signoutButton {
    box-shadow:none;
    outline: none;
    border-radius: 20px;
}

.signoutButton:hover{
    background: var(--hover) !important;
}

@media(max-width:768px){
    .left{
        display: none;
    }
}