.bubble{
    background-color: white;
    width: 50px;
    height: 50px;
}

.postContainer{
    position: relative;
    background-color: white !important;
    border-color: black;
    border-width: thick;
    border-radius: 20px;
    padding: 1rem;
    margin-left: 50px !important;
}

.postContainer::before{
    content: "";
    position: absolute;
    z-index:-1;
    left: -22px;
    top: 0;
    width: 40px;
    border-bottom: 35px solid white;
    border-top-right-radius: 25px;
}

.postContainer::after{
    content: "";
    position: absolute;
    z-index:-1;
    left: -28px;
    top: -3px;
    height: 38px;
    width: 28px;
    background: var(--base);
    border-top-right-radius: 20px;
}

.emotion {
    border-radius: 10px;
}

.Joy {
    background-color: rgb(23, 204, 23);
}

.Anger {
    background-color: rgb(199, 10, 10);
}

.Sadness {
    background-color: yellow;
}

.Fear{
    background-color: rgb(110, 196, 232);
}

.Love{
    background-color: rgb(245, 97, 211);
}

.Surprise{
    background-color: rgb(87, 63, 247);
}

.username a{
    font-size: small;
}

.profile_image{
    width: 50px;
    height: 50px;
}